<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/dashboard">Dashboard</a>
  </li>
</ol>
<h4>Dashboard</h4>
<hr>

<div class="row">

  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-briefcase"></i>
        Projets</div>
      <div class="card-body mx-auto">
        <h1>{{dashboardData?.project}}</h1>
      </div>
      <div class="card-footer small  text-muted">
        <button class="btn btn-primary btn-block" routerLink="/employees/projects" type="button"> Consulter les Projets
        </button>
      </div>
    </div>
  </div>

</div>
